<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
</head>
<body>

<h2>Create Account</h2>

<!-- SHOW error or success -->
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <!-- EMAIL -->
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <!-- PASSWORD -->
    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <!-- CONFIRM PASSWORD -->
    <label>Confirm Password:</label><br>
    <input type="password" name="password2" required><br><br>

    <button type="submit">Create Account</button>
</form>

<br>

<p>
    Already have an account? 
    <a href="{% url 'login' %}">Create one</a>
</p>

</body>
</html>